body {
    /* Location of the image */
    background-image: url(./simon-berger-twukN12EN7c-unsplash.png);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
  }
  

  body {
    font-family: 'Raleway@weight:600', sans-serif;
  }




h1 {
    text-align: center;
    font-size: 4rem;
    color: #f7f7f7;
    margin-top: 10%;
}

h2 {
    color: #f7f7f7;
    font-size: 2rem;
    margin-top: 5%;
}

h3 {
    font-family: 'Dancing Script', sans-serif;
    margin-top: 30%;
    color: #f7f7f7;
}
