body {
    /* Location of the image */
    background-image: url(./changed_simon-berger-twukN12EN7c-unsplash.png);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
  }
  

  body {
    font-family: 'Raleway@weight:600', sans-serif;
    box-sizing: border-box;
  }




h1 {
    text-align: center;
    font-size: 4em;
    color: #f7f7f7;
    text-shadow: 2px 2px black;
}

.top {
    padding-top: 10%;
}

h2 {
    color: #f7f7f7;
    font-size: 2em;
    margin-top: 5%;
    text-shadow: 2px 2px black;
}

h3 {
    font-family: 'Dancing Script', sans-serif;
    margin-top: 30%;
    color: #f7f7f7;
}

.card-img-top {
    padding: 10px;
}

h5 {
    font-family: 'Raleway', sans-serif;
}

h1.portHead {
    font-family:'Raleway@weight:700', sans-serif;
    margin-top: 10%;
    margin-bottom: 50px;
    font-size: 5rem;
}

h4, p, a {
    font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;
}

.black {
    color: black;
}

.name {
    font-size: 1.5em;
}

@media only screen and (max-width: 668px) {
    h1 {
        font-size: 2rem;
    }
    .top {
        padding-top: 25%;
    }
    h2 {
        margin: 50px;
        text-align: center;
    }
}