
/* background image */
body {
    background-image: url(./changed_simon-berger-twukN12EN7c-unsplash.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* Background color that will be displayed while the background image is loading */
    background-color: black;

  }
  
html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

body {
    font-family: 'Raleway@weight:600', sans-serif;
  }

h1 {
    font-size: 4em;
    /* Text-shadows are disabled in Bootstrap by default, but after I learn Sass I can change that setting and use their classes. */
    text-shadow: 2px 2px black;
}

h2 {
    /* color: #f7f7f7; */
    font-size: 2em;
    text-shadow: 2px 2px black;
}

/* My chosen padding is so large that Bootstrap's default classes aren't large enough.
As soon as I learn Sass, I can add more sizes to by adding entries to the Sass map variable */
.top {
    padding-top: 10%;
}

.card {
    background-color: darkgray;
    margin-bottom: 20px;
}

.tagline {
    font-family: 'Dancing Script', sans-serif;
    /* My chosen margin is so large that Bootstrap's default classes aren't large enough.
    As soon as I learn Sass, I can add more sizes to by adding entries to the Sass map variable */
    margin-top: 30%;
}

h5 {
    font-family: 'Raleway', sans-serif;
}

h1.portHead {
    font-family:'Raleway@weight:700', sans-serif;
    /* My chosen margin is so large that Bootstrap's default classes aren't large enough.
    As soon as I learn Sass, I can add more sizes to by adding entries to the Sass map variable */
    margin-top: 20%;
    margin-bottom: 50px;
    font-size: 5rem;
}

h4, p, a {
    font-family: 'Roboto', sans-serif;
}

.name {
    font-size: 1.5em;
}

.bio {
    font-size: 1.25em;
}

.bioHead {
    text-shadow: none;
}

.fa {
    text-shadow: 2px 2px black;
    font-size: 100px;
    color: white;
}

.fa:hover {
    color: #cecece
}

.fa:active {
    text-shadow: none;
}

.opaque {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    padding-bottom: 0px;
    border-radius: 10px;
}

.lists {
    margin: 25px 30px 60px 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

.headshot {
    max-width: 315px;
}

.portfolioButton {
    background-color: #303048;
    color: white;
}

@media only screen and (max-width: 668px) {
    h1 {
        font-size: 2rem;
    }
    .top {
        padding-top: 25%;
    }
    h2 {
        margin: 50px;
        text-align: center;
    }
    h3 {
        margin-top: 10%;
        padding: 20px;
    }
    #pushDown {
        margin-top: 100px;
    }
}